/*标签重置样式*/
a {
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  line-height: 1;
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: "PingFang SC", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  vertical-align: middle;
}

/*标签重置end*/


/*常用样式*/
.ftsize_zero {
  font-size: 0;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.color_fff {
  color: #fff;
}

.color_888 {
  color: #888;
}

.color_000 {
  color: #000;
}

.color_1296db {
  color: #1296db;
}

.textlighter{
  font-weight: 100;
}

.textlight {
  font-weight: 300;
}

.textmedium {
  font-weight: 400;
}

.textbold {
  font-weight: 700;
}

.bg_fff {
  background-color: #fff;
}

.bg_f7f7f7 {
  background-color: #f7f7f7;
}

.padding-top-50 {
  padding-top: 50px;
}

/*常用样式end*/


.container {
  /*padding: 0 86px;*/
  width: 1000px;
  margin: 0 auto;
}

/*轮播图与头部导航*/
.header-wrap {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  color: #fff;
  height: 122px;
  background-image: -webkit-linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1) 50%, rgba(0,0,0,0) 100%);
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1) 50%, rgba(0,0,0,0) 100%);
}

.header{
  padding-top: 20px;
  width: 100%;
}

.header .name {
  display: inline-block;
  margin-left: 86px;
  font-size: 30px;
  /*font-family: PingFangSC-Medium, sans-serif;*/
}

.nav {
  float: right;
  margin-right: 86px;
  font-size: 0;
}

.nav li {
  display: inline-block;
}

.nav li + li {
  margin-left: 60px;
}

.nav li a {
  display: inline-block;
  font-size: 18px;
  /*font-family: PingFangSC-Light, sans-serif;*/
  padding: 6px 0;
  color: inherit;
}

.nav li a:hover {
  text-decoration: none;
}

.carousel {
  position: relative;
  width: 100%;
  min-width: 1000px;
  overflow: hidden;
}

.carousel-imgs-wrap {
  position: relative;
  z-index: 1;
  /*根据图片数量而定*/
  width: 500%;
}

.carousel-imgs-wrap::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}

.carousel-img {
  float: left;
  /*根据图片数量而定*/
  width: 20%;
  max-width: 100%;
}

.carousel-circles-wrap {
  position: absolute;
  display: inline-block;
  z-index: 2;
  left: 50%;
  bottom: 13px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0;
}

.circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
}

.circle:hover {
  cursor: pointer;
}

.circle + .circle {
  margin-left: 21px;
}

.carousel-circles-wrap .active {
  background-color: #7d7d7d;
}

.next-arrow {
  display: none;
}


/*养老环境*/
.environment {
  padding-bottom: 62px;
}

.title {
  font-size: 30px;
}

.title-img {
  display: inline-block;
  margin-top: 8px;
  width: 67px;
  height: 27px;
}

.list {
  margin-top: 42px;
  font-size: 0;
}

.item-wrap {
  display: inline-block;
  vertical-align: top;
  width: 318.6666666666666666px;
}

.item-wrap + .item-wrap {
  margin-left: 22px;
}

.item {
  /*padding-right: 47px;*/
}

.item .title {
  font-size: 24px;
}

.item .desc {
  margin-top: 6px;
  font-size: 16px;
  line-height: 24px;
  /*color: #888888;*/
}

.jingxin {
  padding-left: 68px;
  background: url(../img/jingxin.png) left top no-repeat;
  background-size: 47px 70px;
}

.sheshi {
  padding-left: 88px;
  background: url(../img/sheshi.png) left top no-repeat;
  background-size: 66px 64px;
}

.renwen {
  padding-left: 101px;
  background: url(../img/renwen.png) left top no-repeat;
  background-size: 78px 52px;
}


/*唯真诚与爱心不可辜负*/

/*重置*/
.feature .item-wrap {
  height: 450px;
}

.feature .list {
  margin-top: 60px;
}

.feature .item {
  padding-right: 0;
  padding: 12px 20px 0 20px;
}

.feature .item .desc {
  margin-top: 10px;
  font-size: 16px;
  line-height: 22px;
}
/*重置 end*/

.feature {
  padding-bottom: 67px;
}

.feature-img {
  width: 100%;
}


/*选择欣康，是服务也是责任*/
/*重置*/
.service .title-img {
  display: inline-block;
  width: 106px;
  height: 24px;
}

/*重置end*/

.service {
  padding-bottom: 107px;
}

.service-img-wrap {
  position: relative;
  margin-top: 54px;
}

.service-img {
  margin-left: 17px;
}

.service-item {
  position: absolute;
}

.service-item .title {
  font-size: 20px;
}

.service-item .desc {
  margin-top: 9px;
  line-height: 19px;
  font-size: 16px;
}

.zongzhi {
  top: 20px;
  left: 100px;
}

.fanwei {
  top: 115px;
  right: 0px;
}

.duixiang {
  top: 335px;
  left: 304px;
}

/*环境设施*/

.facility {
  padding-bottom: 65px;
}

.facility .title {
  margin-bottom: 66px;
}

.row {
  font-size: 0;
}

.row + .row {
  margin-top: 29px;
}

.col-item {
  position: relative;
  display: inline-block;
  width: 238px;
}

.col-item + .col-item {
  margin-left: 16px;
}

.col-img {
  width: 100%;
}

.col-text {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 24px;
  color: #fff;
  white-space: 3px;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}

/*关于欣康*/
.about {
  border-bottom: 4px solid #1296db;
}

.about .desc-wrap {
  padding: 28px 22px 37px;
}

.about .desc {
  font-size: 18px;
  line-height: 30px;
}

.about .desc + .desc {
  margin-top: 10px;
}

.contact-wrap {
  position: relative;
  padding-left: 70px;
  padding-bottom: 48px;
}

.map {
  width: 486px;
  height: 270px;
  border: 4px solid #1296db;
}

.position {
  position: absolute;
  left: 652px;
  top: 20px;
  padding-left: 55px;
  background: url(../img/position.png) left top no-repeat;
  background-size: 40px 57px;
}

.tel {
  position: absolute;
  left: 652px;
  top: 195px;
  padding-left: 74px;
  background: url(../img/tel.png) left 8px no-repeat;
  background-size: 58px 42px;
}

.tel .color_000 + .color_000,
.position .color_888 {
  padding-top: 7px;
}

.position .color_888 {
  font-size: 16px;
}

.contact-wrap .color_000 {
  font-size: 18px;
}

/*尾部*/
.footer {
  padding-top: 20px;
  padding-bottom: 16px;
  box-shadow: 0 -5px 10px 0 #e4e4e4 inset; 
}

.copyright {
  font-size: 18px;
  padding-bottom: 12px;
}

.msg-wrap .msg-item:first-child {
  padding: 1.5px 0 1.5px 26px;
  background: url(../img/visit.png) left top no-repeat;
  background-size: 21px 21px;
}

.msg-item {
  display: inline-block;
  font-size: 18px;
}

.msg-item + .msg-item {
  margin-left: 20px;
}

.zongbin {
  margin-left: 8px;
}