* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

/*标签重置样式*/
a {
  display: inline-block;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}

/*a:link {color: #000;}*/
a:visited {
  text-decoration: none;
} 
/*a:hover{color: #0F0;} */
/*a:active {color: #00F;} */

a:hover {
  text-decoration: underline;
}

body {
  line-height: 1;
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: "PingFang SC", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  list-style-type: none;
}

img {
  vertical-align: middle;
}

/*标签重置end*/


/*常用样式*/
.ftsize_zero {
  font-size: 0;
}

.clearfix::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
  visibility: hidden;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.color_fff {
  color: #fff;
}

.color_888 {
  color: #888;
}

.color_000 {
  color: #000;
}

.color_1296db {
  color: #1296db;
}

.textlighter{
  font-weight: 100;
}

.textlight {
  font-weight: 300;
}

.textmedium {
  font-weight: 400;
}

.textbold {
  font-weight: 700;
}

.bg_fff {
  background-color: #fff;
}

.bg_f7f7f7 {
  background-color: #f7f7f7;
}



/*常用样式end*/

.carousel,
.environment,
.feature,
.service,
.facility,
.about {
  width: 100%;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.padding_main {
  padding: 20px 0;
}

.ft12to30 {
  font-size: 12px;
}

.ft12to18 {
  font-size: 12px;
}

.ft9to18 {
  font-size: 9px;
}


.ft11to24 {
  font-size: 11px;
}

.ft12to24 {
  font-size: 12px;
}

.ft12to20 {
  font-size: 12px;
}

.ft9to16_lh {
  font-size: 9px;
  line-height: 11px;
}

.ft10to18_lh {
  font-size: 10px;
  line-height: 16px;
}

.ft11to18_lh {
  font-size: 11px;
  line-height: 16px;
}

.main_title_ftsize {
  font-size: 14px;
}

.main_title_bottom_space {
  margin-bottom: 20px;
}

.sub_title_ftsize {
  font-size: 12px;  
}

.desc_ftsize_lheight {
  font-size: 8px;
  line-height: 12px;
}

.xs_hidden {
  display: none !important;
}



@media (min-width: 768px) {
  .container {
    width: 90%;
  }

  .padding_main {
    padding: 30px 0;
  }

  .ft12to30 {
    font-size: 18px;
  }

  .ft9to18 {
    font-size: 12px;
  }

  .ft12to18 {
    font-size: 14px;
  }

  .ft9to16_lh {
    font-size: 11px;
    line-height: 15px;
  }

  .ft10to18_lh {
    font-size: 14px;
    line-height: 20px;
  }

  .ft11to18_lh {
    font-size: 14px;
    line-height: 20px;
  }

  .ft11to24 {
    font-size: 15px;
  }

  .ft12to24 {
    font-size: 16px;
  }

  .ft12to20 {
    font-size: 14px;
  }

  .main_title_ftsize {
    font-size: 18px;
  }

  .main_title_bottom_space {
    margin-bottom: 30px;
  }

  .sub_title_ftsize {
    font-size: 15px;
  }

  .desc_ftsize_lheight {
    font-size: 14px;
    line-height: 18px;
  }

  .xs_hidden {
    display: inline-block !important;
  }
}

@media (min-width: 992px) {
  .padding_main {
    padding: 40px 0;
  }

  .ft12to30 {
    font-size: 24px;
  }

  .ft9to18 {
    font-size: 15px;
  }

  .ft12to18 {
    font-size: 16px;
  }

  .ft9to16_lh {
    font-size: 14px;
    line-height: 20px;
  }

  .ft10to18_lh {
    font-size: 16px;
    line-height: 26px;
  }

  .ft11to18_lh {
    font-size: 16px;
    line-height: 26px;
  }

  .ft12to24 {
    font-size: 16px;
  }

  .ft11to24 {
    font-size: 20px;
  }
  
  .ft12to20 {
    font-size: 18px;
  }

  .main_title_ftsize {
    font-size: 22px;
  }

  .main_title_bottom_space {
    margin-bottom: 36px;
  }

  .sub_title_ftsize {
    font-size: 18px;
  }

  .desc_ftsize_lheight {
    font-size: 15px;
    line-height: 20px;
  }

  .xs_hidden {
    display: inline-block !important;
  }

}

@media (min-width: 1200px) {
  .padding_main {
    padding: 50px 0;
  }

  .ft12to30 {
    font-size: 30px;
  }

  .ft9to18 {
    font-size: 18px;
  }

  .ft12to18 {
    font-size: 18px;
  }

  .ft9to16_lh {
    font-size: 16px;
    line-height: 24px;
  }

  .ft10to18_lh {
    font-size: 18px;
    line-height: 30px;
  }

  .ft11to18_lh {
    font-size: 18px;
    line-height: 30px;
  }

  .ft11to24 {
    font-size: 24px;
  }

  .ft12to24 {
    font-size: 24px;
  }

  .ft12to20 {
    font-size: 20px;
  }

  .main_title_ftsize {
    font-size: 30px;
  }

  .main_title_bottom_space {
    margin-bottom: 42px;
  }

  .sub_title_ftsize {
    font-size: 24px;
  }

  .desc_ftsize_lheight {
    font-size: 16px;
    line-height: 24px;
  }

  .xs_hidden {
    display: inline-block !important;
  }

}

.carousel {
  position: relative;
  overflow: hidden;
}

.carousel .header-wrap {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
  width: 100%;
  color: #fff;
  height: 32px;
  /*background-image: -webkit-linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1) 50%, rgba(0,0,0,0) 100%);*/
  /*background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1) 50%, rgba(0,0,0,0) 100%);*/
  /*background-color: red;*/
  background-color: rgba(0, 0, 0, 0.4);
}


.carousel .name {
  float: left;
  color: #fff;
  margin-top: 10px;
}

.carousel .nav {
  /*vertical-align: top;*/
  float: right;
  /*font-size: 0;*/
  margin-top: 10px;
}

.carousel .nav li {
  display: inline-block;
}

.carousel .nav li + li {
  margin-left: 16px;
}

.carousel .nav li a {
  display: inline-block;
  color: inherit;
  padding: 1.5px 0;
}

.carousel .nav li a:hover {
  text-decoration: none;
}

@media (min-width: 768px) {
  .carousel .header-wrap {
    height: 62px;
    background-color: transparent;
    background-image: -webkit-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1) 50%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1) 50%, rgba(0,0,0,0) 100%);
  }

  .carousel .name {
    margin-top: 22px;
  }

  .carousel .name span {
    margin-left: 10px;
    font-size: 12px;
  }

  .carousel .name span a {
    display: inline-block;
    color: inherit;
  }

  .carousel .nav {
    margin-top: 22px;
  }

  .carousel .nav li a {
    /*font-size: 16px;*/
    padding: 3px 0;
  }

  .carousel .nav li + li {
    margin-left: 30px;
  }
}

@media (min-width: 992px) {
  .carousel .header-wrap {
    height: 92px;
  }

  .carousel .name {
    margin-top: 34px;
  }

  .carousel .name span {
    font-size: 13px;
  }

  .carousel .nav {
    margin-top: 34px;
  }

  .carousel .nav li a {
    /*font-size: 18px;*/
    padding: 4.5px 0;
  }

  .carousel .nav li + li {
    margin-left: 45px;
  }
}

@media (min-width: 1200px) {
  .carousel .header-wrap {
    height: 122px;
  }

  .carousel .name {
    margin-top: 46px;
  }

  .carousel .name span {
    font-size: 15px;
  }

  .carousel .nav {
    margin-top: 46px;
  }

  .carousel .nav li a {
    padding: 6px 0;
  }

  .carousel .nav li + li {
    margin-left: 60px;
  }
}

/*第一部分============轮播图*/
#slides {
  position: relative;
}
.slidesjs-pagination {
  display: inline-block;
  position: absolute;
  bottom: 4px;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0 , 0);
          transform: translate3d(-50%, 0 , 0);
  z-index: 20;
  font-size: 0;
}

.slidesjs-pagination-item {
  display: inline-block;
}

.slidesjs-pagination-item a {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #888;
}

.slidesjs-pagination .active {
  background-color: #fff;
}

.slidesjs-pagination-item + .slidesjs-pagination-item {
  margin-left: 6px;
}

@media (min-width: 768px) {
  .slidesjs-pagination {
    bottom: 13px;
  }

  .slidesjs-pagination-item a {
    width: 9px;
    height: 9px;
  }

  .slidesjs-pagination + .slidesjs-pagination-item {
    margin-left: 15px;
  }
}

@media (min-width: 992px) {
  .slidesjs-pagination-item a{
    width: 11px;
    height: 11px;
  }

  .slidesjs-pagination-item + .slidesjs-pagination-item {
    margin-left: 18px;
  }
}

@media (min-width: 1200px) {
  .slidesjs-pagination{
    bottom: 13px;
  }

  .slidesjs-pagination-item a{
    width: 12px;
    height: 12px;
  }

  .slidesjs-pagination-item + .slidesjs-pagination-item {
    margin-left: 21px;
  }
}


/*.carousel-imgs-wrap {
  position: relative;
  z-index: 1;
  width: 500%;
}

.carousel-img {
  float: left;
  width: 20%;
  max-width: 100%;
}

.carousel-circles-wrap {
  position: absolute;
  display: inline-block;
  z-index: 2;
  left: 50%;
  bottom: 4px; 	
  -webkit-transform:translateX(-50%);
  transform:translateX(-50%);
  font-size: 0;
}

.carousel .circle {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #7d7d7d;
}


.carousel .circle + .circle {
  margin-left: 6px;
}

.carousel .active {
  background-color: #fff;
}

#next {
  display: none;
}

@media (min-width: 768px) {
  .carousel-circles-wrap {
    bottom: 13px;
  }

  .carousel .circle {
    width: 9px;
    height: 9px;
  }

  .carousel .circle + .circle {
    margin-left: 15px;
  }
}

@media (min-width: 992px) {
  .carousel .circle {
    width: 11px;
    height: 11px;
  }

  .carousel .circle + .circle {
    margin-left: 18px;
  }
}

@media (min-width: 1200px) {
  .carousel-circles-wrap {
    bottom: 13px;
  }

  .carousel .circle {
    width: 12px;
    height: 12px;
  }

  .carousel .circle + .circle {
    margin-left: 21px;
  }
}*/


/*第二部分=============为老人提供温馨舒适的养老环境*/
.title-img {
  display: inline-block;
  margin-top: 4px;
  /*缩放为原来的1/2*/
  width: 47px;
  height: 19px;
}

.list {
  margin-top: 20px;
}

.item {
  display: inline-block;
  vertical-align: top;
  width: calc(33.333333333% - 16px);
  text-align: center;
}

.item + .item{
  margin-left: 24px;
}

.item .title {
  text-align: center;
  margin: 6px 0;
}

.jingxin,
.sheshi,
.renwen {
  display: inline-block;
  padding: 35px 0 0 0;
}

.jingxin {
  background: url(../img/jingxin.png) 50% top no-repeat;
  background-size: 24px 35px;
}

.sheshi {
  background: url(../img/sheshi.png) 50% top no-repeat;
  background-size: 33px 32px;
}

.renwen {
  background: url(../img/renwen.png) 50% top no-repeat;
  background-size: 39px 26px;
}

@media (min-width: 768px) {
  .title-img {
    margin-top: 6px;
    /*缩放为原来的0.8*/
    width: 54px;
    height: 22px;
  }

  .list {
    margin-top: 30px;
  }

  .item {
    width: calc(33.333333333% - 42px);
  }

  .item + .item{
    margin-left: 63px;
  }

  .item .title {
    text-align: left;
    margin: 0 0 8px 0;
  }


  .jingxin {
    padding: 0 0 0 50px;
    /*background: url(../img/jingxin.png) left top no-repeat;*/
    background-position: left top;
    background-size: 38px 52px;
  }

  .sheshi {
    padding: 0 0 0 65px;
    /*background: url(../img/sheshi.png) left top no-repeat;*/
    background-position: left top;
    background-size: 53px 52px;
  }

  .renwen {
    padding: 0 0 0 75px;
    /*background: url(../img/renwen.png) left top no-repeat;*/
    background-position: left top;
    background-size: 63px 42px;
  }
}

@media (min-width: 992px) {
  .title-img {
    margin-top: 8px;
    /*原始大小*/
    width: 67px;
    height: 27px;
  }

  .list {
    margin-top: 36px;
  }

  .item {
    width: calc(33.333333333% - 72px);
  }

  .item + .item{
    margin-left: 108px;
  }

}

@media (min-width: 1200px) {
  .list {
    margin-top: 42px;
  }

  .item {
    width: calc(33.333333333% - 96px);
  }

  .item + .item{
    margin-left: 144px;
  }

  .item .title {
    margin: 0 0 10px 0;
  }

  .jingxin {
    padding: 0 0 0 67px;
    /*background: url(../img/jingxin.png) left top no-repeat;*/
    background-size: 47px 70px;
  }

  .sheshi {
    padding: 0 0 0 86px;
    /*background: url(../img/sheshi.png) left top no-repeat;*/
    background-size: 66px 64px;
  }

  .renwen {
    padding: 0 0 0 98px;
    /*background: url(../img/renwen.png) left top no-repeat;*/
    background-size: 78px 52px;
  }
}

/*第三部分================唯真诚与爱心不可辜负*/
.feature .list {
  margin-top: 0;
  overflow: hidden;
}

.feature .item {
  width: calc(50% - 4px);
  padding-bottom: 1012px;
  margin-bottom: -1000px;
}

.feature .item + .item {
  margin-left: 8px;
}

.feature .item .title {
  text-align: center;
  margin: 6px 0;
}

.feature .item .desc {
  padding: 0 8px;
}

.feature-img {
  width: 100%;
}

@media (min-width: 768px) {
  .feature .item {
    width: calc(33.33333333% - 10px);
    padding-bottom: 1015px;
  }

  .feature .item + .item {
    margin-left: 15px;
  }

  .feature .item .title {
    margin: 8px 0;
  }

  .feature .item .desc {
    padding: 0 10px;
  }
}

@media (min-width: 992px) {
  .feature .item {
    width: calc(33.333333333% - 16px);
    padding-bottom: 1023px;
  }

  .feature .item + .item {
    margin-left: 24px;
  }

  .feature .item .title {
    margin: 10px 0;
  }

  .feature .item .desc {
    padding: 0 15px;
  }
}

@media (min-width: 1200px) {
  .feature .item {
    width: calc(33.333333333% - 20px);
    padding-bottom: 1023px;
  }

  .feature .item + .item {
    margin-left: 30px;
  }

  .feature .item .title {
    margin: 15px 0;
  }
}

/*第四部分=============选择欣康，是服务也是责任*/
/*待议*/
.service {
  padding-bottom: 60px;
}

.service .title-img {
  width: 53px;
  height: 12px;
}

.service-img-wrap {
  height: 106px;
  margin-top: 10px;
  background: url(../img/service.png) 52% top no-repeat;
  background-size: 112px 106px;
}

.service_c {
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 50%;
  height: 100%;
}

.service-item {
  position: absolute;
}

.service-item .title {
  margin-bottom: 4px;
}

.zongzhi {
  width: auto;
  right: 52px;
  top: 0;
}

.duixiang {
  width: 100%;
  bottom: 0px;
  left: -80px;
  -webkit-transform: translate3d(0, 80%, 0);
          transform: translate3d(0, 80%, 0);
}

.fanwei {
  width: auto;
  top: 35%;
  left: 64px;
}

@media (min-width: 480px) {
  .service {
    padding-bottom: 40px;
  }

  .fanwei {
    left: 68px;
  }
}

@media (min-width: 540px) {
  .service-img-wrap {
    height: 174px;
    margin-top: 15px;
    /*background: url(../img/service.png) 52% top no-repeat;*/
    background-size: 184px 174px;
  }

  .zongzhi {
    width: auto;
    right: 86px;
    top: 8px;
  }

  .duixiang {
    width: 70%;
    bottom: 0px;
    left: -102px;
    -webkit-transform: translate3d(0, 70%, 0);
            transform: translate3d(0, 70%, 0);
  }

  .fanwei {
    width: 50%;
    top: 35%;
    left: 108px;
  }
}

@media (min-width: 768px) {
  .service {
    padding-bottom: 50px;
  }
  .service-img-wrap {
    height: 244px;
    margin-top: 25px;
    /*background: url(../img/service.png) 52% top no-repeat;*/
    /*background-position-x: 52%;*/
    background-size: 257px 244px;
  }

  .zongzhi {
    width: auto;
    right: 120px;
    top: 12px;
  }

  .duixiang {
    width: 70%;
    bottom: 0px;
    left: -132px;
    -webkit-transform: translate3d(0, 70%, 0);
            transform: translate3d(0, 70%, 0);
  }

  .fanwei {
    width: 50%;
    top: 35%;
    left: 148px;
  }
}

@media (min-width: 992px) {
  .service {
    padding-bottom: 60px;
  }

  .duixiang {
    width: 70%;
    bottom: 0px;
    left: -142px;
    -webkit-transform: translate3d(0, 70%, 0);
            transform: translate3d(0, 70%, 0);
  }
}

@media (min-width: 1200px) {
  .service {
    padding-bottom: 80px;
  }
  .service-img-wrap {
    height: 348px;
    margin-top: 45px;
    /*background: url(../img/service.png) 51% top no-repeat;*/
    background-position-x: 51%;
    background-size: 367px 348px;
  }

  .zongzhi {
    width: auto;
    right: 170px;
    top: 22px;
  }

  .duixiang {
    width: 70%;
    bottom: 0px;
    left: -192px;
    -webkit-transform: translate3d(0, 70%, 0);
            transform: translate3d(0, 70%, 0);
  }

  .fanwei {
    width: 50%;
    top: 35%;
    left: 214px;
  }
}

/*第五部分==============环境设施*/
.row + .row {
  margin-top: 12px;
}

.col-item {
  position: relative;
  display: inline-block;
  width: calc(50% - 6px);
}

.col-item + .col-item {
  margin-left: 12px;
}

.col-item a {
  display: inline-block;
  width: 100%;
}

.col-img {
  width: 100%;
  min-width: 100%;
}

.col-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding: 6px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {

  .col-item {
    width: calc(25% - 18px);
  }

  .col-item + .col-item {
    margin-left: 24px;
  }

  .row + .row {
    margin-top: 24px;
  }

  .col-text {
    padding: 8px;
  }
}


/*第六部分===============关于欣康*/
.about {
  border-bottom: 1px solid #1296db;
}
.about .desc + .desc {
  margin-top: 5px;
}

.contact-wrap {
  margin-top: 15px;
}

.map {
  /*保证能正确显示border*/
  padding: 1px;
  border: 1px solid #1296db;
  width: 100%;
  height: 195px;
}

/*地图部分样式重写*/


/*.position {
  float: left;
}

.tel {
  float: right;
}*/

.about_bottom_wrap {
  margin-top: 15px;
}

.tel {
  margin-top: 15px;
  padding-left: 32px;
  background: url(../img/tel.png) left top no-repeat;
  background-size: 24px 17px;
}

.position {
  padding-left: 32px;
  background: url(../img/position.png) 4px top no-repeat;
  background-size: 16px 23px;
}

.tel_item,
.position_item {
  display: inline-block;
  vertical-align: top;
  line-height: 16px;
}

.tel_item {
  margin-right: 5px;
}

@media (min-width: 768px) {
  .about_bottom_wrap {
    margin-top: 20px;
  }
  .map {
    height: 260px;
  }
  .tel_item,
  .position_item {
    line-height: 20px;
  }
  .tel {
    margin-top: 0;
    float: right;
    width: 40%;
    padding-left: 60px;
    /*background: url(../img/tel.png) left top no-repeat;*/
    background-size: 46px 28px;
  }

  .position {
    float: left;
    padding-left: 40px;
    /*background: url(../img/position.png) left top no-repeat;*/
    background-position-x: 4px;
    background-size: 26px 37px;
  }

}

@media (min-width: 992px) {
  .about_bottom_wrap {
    margin-top: 25px;
  }
  .tel_item,
  .position_item {
    line-height: 24px;
  }

  .position,
  .tel {
    margin-top: 15px;
  }
}

@media (min-width: 1200px) {
  .about_bottom_wrap {
    position: relative;
  }

  .map {
    display: inline-block;
    width: 40%;
    margin-left: 4%;
  }

  .tel,
  .position {
    position: absolute;
  }

  .tel {
    margin-top: 0;
    bottom: 20px;
    left: 53%;
    background-size: 58px 42px;
    padding-left: 68px;
  }

  .position {
    margin-top: 0;
    top: 20px;
    left: 53%;
    background-size: 40px 57px;
    background-position-x: 9px;
    padding-left: 68px;
  }

  .tel .title,
  .tel .tel_item {
    display: block;
  }

  /*.contact-wrap {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    height: 100%;
  }*/
}

/*.position {
  padding-left: 14px;
  background: url(../img/position.png) left top no-repeat;
  background-size: 12px 17px;
}*/

/*.tel {
  padding-left: 20px;
  background: url(../img/tel.png) left top no-repeat;
  background-size: 18px 13px;
}*/

/*重写end*/

/*.position div:first-child,
.tel div:first-child {
  line-height: 1;
}*/

/*.position {
  position: absolute;
  left: 47%;
  top: 15px;
  padding-left: 30px;
  background: url(../img/position.png) 4px top no-repeat;
  background-size: 16px 23px;
}*/


/*.tel {
  position: absolute;
  left: 47%;
  bottom: 15px;
  padding-left: 30px;
  background: url(../img/tel.png) left top no-repeat;
  background-size: 24px 17px;
}*/

/*.tel_item + .tel_item,
.position_item + .position_item {
  margin-top: 2px;
}*/

/*@media (min-width: 768px) {
  .about {
    border-bottom: 2px solid #1296db;
  }
  .map {
    height: 173px;
  }

  .about .desc + .desc {
    margin-top: 10px;
  }

  .contact-wrap {
    margin-top: 30px;
  }

  .map {
    border: 2px solid #1296db;
    width: 40%;
    height: 200px;
  }

  .position {
    left: 50%;
    padding-left: 45px;
    background: url(../img/position.png) 4px top no-repeat;
    background-size: 28px 40px;
  }

  .tel {
    left: 50%;
    padding-left: 45px;
    background: url(../img/tel.png) left top no-repeat;
    background-size: 35px 21px;
  }
}*/

/*@media (min-width: 1200px) {
  .about {
    border-bottom: 4px solid #1296db;
  }
  .map {
    border: 4px solid #1296db;
    height: 250px;
    margin-left: 8%;
  }

  .position {
    left: 58%;
    padding-left: 70px;
    background: url(../img/position.png) 9px top no-repeat;
    background-size: 40px 57px;
  }

  .tel {
    left: 58%;
    padding-left: 70px;
    background: url(../img/tel.png) left top no-repeat;
    background-size: 58px 42px;
  }
}*/


/*第七部分===============页脚*/
.footer {
  padding: 5px 0;
}

.footer .text-center + .text-center {
  margin-top: 5px;
}

.msg-item {
  /*display: inline-block;*/
  /*vertical-align: top;*/
}
.msg-item,
.msg-wrap span,
.msg-wrap a {
  display: inline-block;
  vertical-align: top;
}

.msg-item + .msg-item {
  margin-left: 12px;
}

.msg-img {
  width: 10px;
  height: 10px;
  margin-right: 2px;
  background: url(../img/visit.png) left top no-repeat;
  background-size: contain;
}

.msg-item {
  line-height: 10px;
}

/*.msg-wrap .msg-item:first-child {
  padding: 1px 0 1px 12px;
  background: url(../img/visit.png) left top no-repeat;
  background-size: 10px 10px;
}*/

@media (min-width: 768px) {
  .footer {
    padding: 10px 0;
  }
  .footer .text-center + .text-center {
    margin-top: 10px;
  }
  .msg-img {
    width: 14px;
    height: 14px;
    margin-right: 4px;
  }

  .msg-item {
    line-height: 14px;
  }
}

@media (min-width: 992px) {
  .footer {
    padding: 16px 0;
  }
  .footer .text-center + .text-center {
    margin-top: 14px;
  }

  .msg-img {
    width: 17px;
    height: 17px;
    margin-right: 5px;
  }

  .msg-item {
    line-height: 17px;
  }
}

@media (min-width: 1200px) {
  .msg-img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  .msg-item {
    line-height: 20px;
  }
}

